<!DOCTYPE html>
<html lang="en">

<head>

  <meta name="google-site-verification" content="zHkw848T8b0c9Sgksc8TOD8mQGlZ3Vl85kU7FmW7i8I" />

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Neofield</title> 
  <link rel="shortcut icon" href="img/favicon.ico" />
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 
  <!-- Custom fonts for this template -->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/neofield.min.css" rel="stylesheet">

  <!-- AngularJS 1.5.5 -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

  <!-- app.js -->
  <script src="js/app.js"></script>

</head>

<body id="page-top" ng-app="Neofield" ng-controller="appController as appCtrl">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <img src="img/logo.png" width="100px"/>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contato</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#map">Localização</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Intro Header -->
  <header class="masthead">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <img src="img/logo.png" width="600px" />
            <p class="intro-text" >Através da gestão de tecnologia de informação e dados analíticos, otimizamos todos os seus processos agropecuários.</p>
            <a href="#about" class="btn btn-circle js-scroll-trigger">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>

   <!-- About Section -->
  <section id="about" class="content-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Sobre a Neofield</h2>
          <p>A NeoField é uma empresa de tecnologia dedicada ao assessoramento e à tomada de decisão com foco no produtor agrícola. Seus produtos visam otimizar todos os processos agropecuários através da gestão da tecnologia de informação e geração de dados analíticos. </p>
          <p>A NeoField desenvolve soluções de monitoramento em tempo real de cultivos agrícolas para auxílio na tomada de decisão e otimização do consumo de matérias primas através de uma rede de dispositivos em solo e aéreo. Dados são coletados e disponibilizados ao produtor para embasar decisões que impactam diretamente na operação agrícola e na produção. Entre em contato conosco através do e-mail: contato@neofield.com.br .</p>
          <p>NeoField. Agropecuária de precisão.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section id="contact" class="content-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="section-heading text-uppercase">Contato</h2>
          <h3 class="section-subheading text-white">Deixe sua mensagem</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <form id="contactForm" name="sentMessage" novalidate>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input class="form-control" id="name" ng-model="appCtrl.message.name" type="text" placeholder="Nome" required data-validation-required-message="Por favor, insira seu nome.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="email" ng-model="appCtrl.message.email" type="email" placeholder="Email" required data-validation-required-message="Por favor, insira seu email.">
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <input class="form-control" id="phone" ng-model="appCtrl.message.phone" type="tel" placeholder="Telefone" required data-validation-required-message="Por favor, insira seu telefone.">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <textarea class="form-control" id="message" ng-model="appCtrl.message.message" placeholder="Mensagem" required data-validation-required-message="Por favor, deixe sua mensagem." rows="7" ></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-lg-12 text-center">
                <div id="success"></div>
                <button id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" ng-click="appCtrl.sendMail()" type="submit">Enviar Messagem</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Map Section -->
  <section class="content-map text-center" >
    <h2 class="section-heading text-uppercase">Localização</h2>
    <h5 class="section-subheading text-white">R. Gomes de Carvalho, 911 - Vila Olimpia, São Paulo - SP, 04547-003
    </h3>
      <div id="map" ></div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; NeoField 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLDw5Py2EF61-Luxq8dnxSPm_QltAcatI&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="js/neofield.min.js"></script>

  </body>

  </html>
